.photoUploader > input {
  height: min-content;
}

.photoUploader {
  border-color: transparent;
}

.captionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.caption {
  margin-top: 8px;
  width: 100%;
  border-radius: 20px;
  border-bottom-right-radius: 0;
  padding: 12px 10px;
  border: 1px solid var(--secondary-color-site);
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn {
  background-color: var(--secondary-color-site);
}

.btn:hover {
  cursor: pointer;
  background-color: var(--primary-color-site);
}

.removeBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: var(--secondary-color-site);
  color: black;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.removeBtn:hover {
  background: red;
}

.photoContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: min-content;
}

.photo {
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
}
