.userIconContainer {
  display: flex;
  height: 35px;
  background-color: transparent;
  border: none;
  align-items: center;
  padding: 0;
}

.userIcon {
  height: 35px;
  width: 35px;
  object-fit: cover;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid green;
}

.userLink {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  padding: 2px;
  margin: 0 5px;
  text-align: left;
}

.userIcon:hover {
  box-shadow: 0 0 10px pink;
}

.userLink:hover {
  text-decoration: underline pink;
  text-underline-offset: 4px;
}
