.container {
  width: 300px;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
  font-weight: bold;
}

.btn {
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid var(--primary-color-site);
}

.btn:hover {
  cursor: pointer;
  border-color: black;
  background-color: var(--primary-color-site);
}

.toggle, .submit {
  background-color: pink;
}

.toggle {
  border-color: var(--secondary-color-site);
}

/* Potentially whack button hover flair */
.toggle:hover {
  color: pink;
  border-color: pink;
  background-color: var(--secondary-color-site);
}

.submit:hover{
  color: pink;
  border-color: pink;
}

.btn,
input {
  height: 2.5rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--secondary-color-site);
  border-radius: 4px;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 18px;
}

.title {
  text-align: center;
}
