.container {
  height: 100vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--secondary-color-site);
  border-radius: 4px;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 18px;
}