.container {
  width: 100%;
}

.btn {
  background-color: var(--secondary-color-site);
  margin: 5px;
  border-radius: 15px;
  padding: 4px 8px;
  border: 1px solid black;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--primary-color-site);
}

.chapWrap {
  display: flex;
}

.chapterContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  height: 300px;
  justify-content: center;
  border: 1px solid var(--primary-color-site);
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.253);
  padding: 5px;
  margin-bottom: 5px;
}

.previewContainer, .imagePreview {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagePreview {
  max-height: 90%;
}

.previewContainer {
  flex-direction: column;
}

.navBtn{
  font-size: 20px;
  margin: 8px;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  width: min-content;
  height: min-content;
}

.chapterImgFrame {
  width: 90%;
  height: calc(100% - 40px);
  display: flex;
  justify-content: center;
}

.chapterImg {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  object-fit: contain;
}

.chapBtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.chapBtnContainer > .btn {
  width: 60px;
  margin: 5px;
  padding: 0;
}

.captionContainer {
  margin-left:10px ;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}

.captionContainer > strong {
  margin-right: 5px;
}